body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-edit {
  background-color: #ffcc00;
  color: #212529;
  border: none;
}
.btn-delete {
  background-color: #dc3545;
  color: #fff;
  border: none;
}
.pagination .page-link {
  color: #212529;
}
.pagination .active .page-link {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}

@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/MyFont.woff2') format('woff2'),
  url('../assets/fonts/MyFont.woff') format('woff'),
  url('../assets/fonts/MyFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.navbar-brand {
  font-family: 'MyFont', sans-serif;
  font-weight: bold;
}